body{
	background-color:#F7F7F7;
	margin-top:0;
	padding-top:2em;
}

::-webkit-scrollbar{width:10px; height:10px;}
::-webkit-scrollbar-thumb{background-color:#D0D0D0;}
::-webkit-scrollbar-thumb:active{background-color:#C0C0C0;}
::-webkit-scrollbar-track{background-color:#FCF7FF;}
::-webkit-scrollbar-corner{background-color:transparent;}

#Header{
	display:block;
	width:80%; /* Fallback width, in case the user doesn't support calc() */
	width:calc(80% - 1em);
	margin-bottom:0;
	margin-left:-8px;
	margin-top:0;
	padding-left:1em;
	background-color:#FF7777;
	color:white;
	text-shadow:0 0 1px rgba(100,0,0,0.5);
	clip-path:polygon(0% 0%, 100% 0%, 100% calc(100% - 0.25em), calc(100% - 0.25em) 100%, 0% 100%); /* Not supported in IE/Edge */
}
#Sidebar{
    position: sticky;
	display:inline-block;
    top:0;
	min-width:15%;
	margin-left:-8px;
	padding-bottom:0.5em;
	background-color:#FFEECC;
	text-align:center;
	overflow:visible;
}
#Sidebar > ul{margin:0; text-align:left;}
#Sidebar a{margin-right:1em;}
ul{margin-bottom:0;}
h2{margin-top:0.25em;}
a{text-decoration:none; color:blue;}
a:hover{text-decoration:underline;}
a:active{color:red;}

div.content{
	width:69%; /* Laugh all you want, this is the best width for this */
	margin:2em auto 1em auto;
	padding:0.5em;
	padding-bottom:1em;
	background-color:#FCF7FF;
	color:#101010;
	border-radius:5px;
	box-shadow:2px 3px 2px rgba(16,16,16,0.1);
	border:1px solid #EDECF1;
}
div.content > p:last-child{margin-bottom:0;}

h2 > a{
	display:none;
	outline:none;
	padding:0 6px 0 6px;
	margin:0 -6px 0 -6px;
}
h2:hover > a{display:inline;}

.info{
	cursor:help;
	padding:0 4px 0 4px;
	margin:0 -4px 0 -4px;
}
#terribleJoke{
	margin-top:20vh;
	margin-bottom:0;
	text-align:right;
	color:#CCC7CF;
	font-family:Courier New;
}