:root{
	--body-bg: #000000;
	--content-bg: #202020;
	--text-col: #DDDDDD;
	--content-header-bg: #602D2D;
	--content-box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
	--content-width: 80%;
	--link-color: orange;
	--link-focus-col: red;
}

html, body{background-color: var(--body-bg);}
body{
	margin: 0 0 4em;
	font-size: 16px;
	font-family: Arial, sans-serif;
	text-align: center;
	color: var(--text-col);
	word-break: break-word;
}
/* Global stuff */
.h-center{
	margin-left: auto;
	margin-right: auto;
}
a{color: var(--link-color); text-decoration: none;}
a:hover, a:focus{text-decoration: underline;}
a:active, a:focus{color: var(--link-focus-col);}
/* Header stuff */
#header-img{max-height: 128px; max-width: 80vw;}
#header-link{margin: 32px 0; display: inline-block;}
/* Content stuff */
.content{
	text-align: justify;
	margin-bottom: 1em;
	box-shadow: var(--content-box-shadow);
	width: calc(var(--content-width) - 2em);
	border-radius: 0 0 1em 1em;
	padding: 0.5em 1em 1em 1em;
	background-color: var(--content-bg);
}
h2{
	margin: 0.6em 0;
}
.content{
	border-top: 1em solid var(--content-header-bg);
	border-radius: 1em;
}
.anchor{
	vertical-align: top;
	font-size: smaller;
	display: none;
}
.content:hover .anchor{display: inline;}
/* Mobile stuff */
@media(max-width: 900px){
	:root{--content-width: 95%;}
	body{margin: 0 0 6em;}
	#header{max-height: 96px; padding: 32px 0;}
	.anchor{display: inline; font-size: 1em; padding: 0 1em; margin-left: -1em;}
	ul{padding-left: 1em;}
	#footer{height: 2em;}
	#footer-links{width: 100%; font-size: 1.25em;}
}
@media(max-width: 6in){
	#navigation a{flex-basis: calc(100% - 0.4em); padding: 0.2em 0;}
}
@media(max-width: 400px){
	:root{--content-width: 100%;}
	.content{padding-left: 0.5em; padding-right: 1em; width: calc(var(--content-width) - 1.5em);}
}
@media(max-height: 400px){
	body{margin-bottom: 0;}
	#header{max-height: 64px; padding: 16px 0;}
	#footer{position: relative;}
}
