<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The website of James C. Wise">
	<meta name="keywords" content="James, James Wise, James C. Wise, James Christopher Wise, Scripter17">
	<meta name="author" content="James C. Wise">
	<meta property="og:image" content="/resources/icon.ico">
	<title>James Wise's Website | {{ page.title }}</title>
	<link rel="shortcut icon" type="image/ico" href="/resources/icon.ico">
	<link rel="stylesheet" href="/resources/main.css">
</head>
<body>
<input type="checkbox" id="debug"></input>
<label for="debug" id="debug-button" title="Toggle debbuging mode."><i class="fa fa-wrench"></i></label>

<img src="resources/header.png" id="header" class="h-center" title="The text James C. Wise in a pixel font on a blue ribbon type shape.">

{{ content }}

</body>
</html>
