<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The website of James C. Wise">
	<meta name="keywords" content="James, James Wise, James C Wise, James Christopher Wise, Scripter17, Scripter171">
	<meta name="author" content="James C. Wise">
	<meta property="og:image" content="/resources/icon.ico">
	<title>James Wise's Website | {{ page.html-title }}</title>
	<link rel="shortcut icon" type="image/ico" href="/resources/icon.ico">
	<link rel="stylesheet" href="/resources/main.css">
</head>
<body>
<input type="checkbox" id="debug"></input>
<label for="debug" id="debug-button" title="Toggle debbuging mode."><i class="fa fa-wrench"></i></label>

<img src="resources/header.png" id="header" class="h-center" title="The text James C. Wise in a pixel font on a blue ribbon type shape">
<div id="navigation" class="h-center">{% assign sorted = (site.posts | sort: 'permalink') %}{% for post in sorted %}
	<a href="{{ post.url }}">{{ post.html-title }}</a>{% endfor %}
</div>
<div id="content-container">
	{{ content }}
</div>
<div id="footer">
	<span id="footer-links" class="h-center">
		<a href="mailto:jameschristopherwise@gmail.com" title="My email is jameschristopherwise@gmail.com"><i class="fa fa-envelope"></i></a>
		<a href="https://github.com/Scripter17/" title="My Github account is Scripter17"><i class="fab fa-github"></i></a>
	</span>
</div>
</body>
</html>
